In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
#key= VB3uwhDdWdOTKq8aIx9jANqnGEeBDFX1nKaRuNOM

In [3]:
'''
#url1 = 'http://api.datosabiertos.enacom.gob.ar/api/v2/dashboards/ACCES-A-INTER.json/?auth_key=VB3uwhDdWdOTKq8aIx9jANqnGEeBDFX1nKaRuNOM'
#response=requests.get(url1)

if response.status_code == 200:
    print(response)
    print(response.json())
    result=response.content
    arch=open("csv_api/acceso_a_internet.csv","wb")
    arch.write(result)
    arch.close()
'''

'\n#url1 = \'http://api.datosabiertos.enacom.gob.ar/api/v2/dashboards/ACCES-A-INTER.json/?auth_key=VB3uwhDdWdOTKq8aIx9jANqnGEeBDFX1nKaRuNOM\'\n#response=requests.get(url1)\n\nif response.status_code == 200:\n    print(response)\n    print(response.json())\n    result=response.content\n    arch=open("csv_api/acceso_a_internet.csv","wb")\n    arch.write(result)\n    arch.close()\n'

TABLA 1: ACCESO A INTERNET POR VELOCIDAD DE BAJADA Y USO DE BANDA ANCHA O ANGOSTA TRIMESTRAL EN PROVINCIAS ARGENTINAS 2014 - 2022. 

Esta tabla esta compuesta por tablas que tienen 840 entries y dirente numero de columnas:

1. Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia
    df1 = pd.read_csv('csv_api\Internet_Penetracion.csv')
2. Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral)
    df4 = pd.read_csv('csv_api\Internet_Accesos-por-velocidad.csv')
3. Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral)
    df = pd.read_csv('csv_api\Internet_BAF-por-provincia.csv')

TABLA 2: INGRESOS Y ACCESO A INTERNET POR TIPO DE TECNOLOGIA EN BANDA ANCHA O ANGOSTA TRIMESTRAL EN ARGENTINA 2014 - 2022

Esta tabla esta compuesta por tablas de 35 entries y diferente numero de columnas:

1. Número total de accesos al servicio de Internet fijo por banda ancha y banda angosta (trimestral)
    df2 = pd.read_csv('csv_api\Internet_BAF.csv')
2. Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral)
    df3 = pd.read_csv('csv_api\Internet_Accesos-por-tecnologia.csv')
3. Serie histórica de la velocidad media de descarga de Internet nacional (trimestral)
    df5 = pd.read_csv('csv_api\historico_velocidad_internet.csv')
4. Ingresos trimestrales de los operadores por el servicio de Internet fijo
    df6 = pd.read_csv('csv_api\Internet_Ingresos.csv')

TABLA 3:CONECTIVIDAD A INTERNET POR TIPO DE CONEXION EN LAS PROVINCIAS ARGENTINAS 2014 - 2022

1. Listado de localidades con conectividad a internet, con detalle por tipo de conexión.
    df7 = pd.read_csv('csv_api\Listadodelocalidadesconconectividadainternet_2750221689190715256.csv')

TABLA 4: TECNOLIGIAS DISPONIBLES POR PROVINCIA(PARTIDO Y LOCALIDAD) PARA ACCEDER AL SERVICIO DE INTERNET FIJO Y MOVIL 2014 -2022

1. Consulta las tecnologías disponibles en tu localidad para acceder al servicio de Internet fijo y móvil
    df8 = pd.read_csv('csv_api\ConectividadalserviciodeInternet_2776151689190730026.csv')

TABLA 5: Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada

1. Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada
    df9 = pd.read_csv('csv_api\AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171689207625058.csv')

In [4]:
df1 = pd.read_csv('csv_api\Internet_Penetracion.csv')
#Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia
df1.shape

(840, 4)

In [5]:
df1['id'] = df1['Año'].astype(str) + df1['Trimestre'].astype(str) + df1['Provincia'].astype(str)
df1.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,id
0,2022,3,Buenos Aires,"78,11",20223Buenos Aires
1,2022,3,Capital Federal,"122,28",20223Capital Federal
2,2022,3,Catamarca,"65,33",20223Catamarca
3,2022,3,Chaco,"43,86",20223Chaco
4,2022,3,Chubut,"84,38",20223Chubut

In [6]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['Accesos por cada 100 hogares']

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df1[col] = pd.to_numeric(df1[col].str.replace(',', '.'))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df1['Año'] = pd.to_numeric(df1['Año'], errors='coerce')
df1['Trimestre'] = pd.to_numeric(df1['Trimestre'], errors='coerce')

# Verify the modified DataFrame
print(df1.head())

    Año  Trimestre        Provincia  Accesos por cada 100 hogares  \
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33
3  2022          3            Chaco                         43.86
4  2022          3           Chubut                         84.38

                     id
0     20223Buenos Aires
1  20223Capital Federal
2        20223Catamarca
3            20223Chaco
4           20223Chubut

In [7]:
df4 = pd.read_csv('csv_api\Internet_Accesos-por-velocidad.csv')
#Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral)

In [8]:
df4['id'] = df4['Año'].astype(str) + df4['Trimestre'].astype(str) + df4['Provincia'].astype(str)

In [9]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['HASTA 512 kbps',
       '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'Total']

# Convert the columns to string type before applying the replacement
df4[columns_to_remove_decimal] = df4[columns_to_remove_decimal].astype(str)

# Loop through the columns and remove decimal points and nan
for col in columns_to_remove_decimal:
    df4[col] = df4[col].str.replace('.', '')
    df4[col] = df4[col].replace('nan', '')
    df4[col] = pd.to_numeric(df4[col].str.replace('.', ''))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df4['Año'] = pd.to_numeric(df4['Año'], errors='coerce')
df4['Trimestre'] = pd.to_numeric(df4['Trimestre'], errors='coerce')

# Verify the modified DataFrame
print(df4.head())

    Año  Trimestre        Provincia  HASTA 512 kbps  + 512 Kbps - 1 Mbps  \
0  2022          3     Buenos Aires           29985                27709
1  2022          3  Capital Federal            5170                 5742
2  2022          3        Catamarca             710                 3840
3  2022          3            Chaco            4610                 9870
4  2022          3           Chubut            1090                 1444

   + 1 Mbps - 6 Mbps  + 6 Mbps - 10 Mbps  + 10 Mbps - 20 Mbps  \
0             290315              297915               267044
1              34371               67829                51946
2               3107                5389                 5099
3              16782               18938                 8049
4              45707                3094                34682

   + 20 Mbps - 30 Mbps  + 30 Mbps     OTROS    Total                    id
0                12419    3618689   65821.0  4721668     20223Buenos Aires
1                28692    1253105  105477.0  1547679  20223Capital Federal
2                 3737      50298    2208.0    70293        20223Catamarca
3                15828      79390    3711.0   144146            20223Chaco
4                15309      17563   20024.0   165778           20223Chubut

In [10]:
df4.isna().value_counts()

Año    Trimestre  Provincia  HASTA 512 kbps  + 512 Kbps - 1 Mbps  + 1 Mbps - 6 Mbps  + 6 Mbps - 10 Mbps  + 10 Mbps - 20 Mbps  + 20 Mbps - 30 Mbps  + 30 Mbps  OTROS  Total  id
False  False      False      False           False                False              False               False                False                False      False  False  False    834
                                                                                                                                                              True   False  False      6
Name: count, dtype: int64

In [11]:
df4 = df4.fillna(df4['OTROS'].mean())

In [12]:
df4.isna().value_counts()

Año    Trimestre  Provincia  HASTA 512 kbps  + 512 Kbps - 1 Mbps  + 1 Mbps - 6 Mbps  + 6 Mbps - 10 Mbps  + 10 Mbps - 20 Mbps  + 20 Mbps - 30 Mbps  + 30 Mbps  OTROS  Total  id
False  False      False      False           False                False              False               False                False                False      False  False  False    840
Name: count, dtype: int64

In [13]:
df_accpenvel = pd.merge(df1,df4,on='id' )

print(df_accpenvel.shape)
df_accpenvel.columns

(840, 17)

Index(['Año_x', 'Trimestre_x', 'Provincia_x', 'Accesos por cada 100 hogares',
       'id', 'Año_y', 'Trimestre_y', 'Provincia_y', 'HASTA 512 kbps',
       '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'Total'],
      dtype='object')

In [14]:
df_accpenvel.drop(columns=['Año_y', 'Trimestre_y', 'Provincia_y'],inplace=True)

In [15]:
# Order columns
df_accpenvel = df_accpenvel[['id','Año_x', 'Trimestre_x', 'Provincia_x','Accesos por cada 100 hogares',
        'HASTA 512 kbps', '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'Total']]

In [16]:
df_accpenvel.head(3)

,id,Año_x,Trimestre_x,Provincia_x,Accesos por cada 100 hogares,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,20223Buenos Aires,2022,3,Buenos Aires,78.11,29985,27709,290315,297915,267044,12419,3618689,65821.0,4721668
1,20223Capital Federal,2022,3,Capital Federal,122.28,5170,5742,34371,67829,51946,28692,1253105,105477.0,1547679
2,20223Catamarca,2022,3,Catamarca,65.33,710,3840,3107,5389,5099,3737,50298,2208.0,70293

In [17]:
df_accpenvel['id'] = df_accpenvel['id'].str.replace(' ','')

In [18]:
df = pd.read_csv('csv_api\Internet_BAF-por-provincia.csv')
#Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral)
df['id'] = df['Año'].astype(str) + df['Trimestre'].astype(str) + df['Provincia'].astype(str)
df = df.drop(columns=['Año','Trimestre','Provincia'])
df['id'] = df['id'].str.replace(' ','')
df['Dial up']= df['Dial up'].str.replace('- ', '')
df['Banda ancha fija']= pd.to_numeric(df['Banda ancha fija'].str.replace('.',''))
df['Dial up']= pd.to_numeric(df['Dial up'].str.replace('.','').replace('- ', ''))
df['Total']= pd.to_numeric(df['Total'].str.replace('.',''))

df

     Banda ancha fija  Dial up    Total                      id
0             4715469   6199.0  4721668        20223BuenosAires
1             1545534   2145.0  1547679     20223CapitalFederal
2               70292      1.0    70293          20223Catamarca
3              144141      5.0   144146              20223Chaco
4              164874    904.0   165778             20223Chubut
..                ...      ...      ...                     ...
835             26304    460.0    26764          20141SantaCruz
836            506000    612.0   506612            20141SantaFe
837             37124      9.0    37133  20141SantiagoDelEstero
838             27272    766.0    28038     20141TierraDelFuego
839            129944     88.0   130032            20141Tucumán

[840 rows x 4 columns]

In [19]:
df_accpenvel = pd.merge(df_accpenvel, df, on='id')
#df_accpenvel.drop(columns=['Banda ancha fija_y','Dial up_y','Total_x'])
df_accpenvel.rename(columns={'Año_x':'Año', 'Trimestre_x':'Trimestre', 'Provincia_x':'Provincia', 'Total_x':'Total_velocidad_bajada','Total_y':'Total_Bandaancha_bandaangosta'}, inplace=True)
df_accpenvel

,id,Año,Trimestre,Provincia,Accesos por cada 100 hogares,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total_velocidad_bajada,Banda ancha fija,Dial up,Total_Bandaancha_bandaangosta
0,20223BuenosAires,2022,3,Buenos Aires,78.11,29985,27709,290315,297915,267044,12419,3618689,65821.0,4721668,4715469,6199.0,4721668
1,20223CapitalFederal,2022,3,Capital Federal,122.28,5170,5742,34371,67829,51946,28692,1253105,105477.0,1547679,1545534,2145.0,1547679
2,20223Catamarca,2022,3,Catamarca,65.33,710,3840,3107,5389,5099,3737,50298,2208.0,70293,70292,1.0,70293
3,20223Chaco,2022,3,Chaco,43.86,4610,9870,16782,18938,8049,15828,79390,3711.0,144146,144141,5.0,144146
4,20223Chubut,2022,3,Chubut,84.38,1090,1444,45707,3094,34682,15309,17563,20024.0,165778,164874,904.0,165778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,20141SantaCruz,2014,1,Santa Cruz,28.94,1610,1625,24972,10,10,0,0,0.0,26760,26304,460.0,26764
836,20141SantaFe,2014,1,Santa Fe,47.85,8456,124468,345225,20328,6845,230,668,0.0,506013,506000,612.0,506612
837,20141SantiagoDelEstero,2014,1,Santiago Del Estero,16.31,1234,10531,22817,2422,1090,0,0,0.0,37113,37124,9.0,37133
838,20141TierraDelFuego,2014,1,Tierra Del Fuego,63.97,120,6070,30902,60,0,0,0,0.0,31527,27272,766.0,28038
839,20141Tucumán,2014,1,Tucumán,33.42,60,34672,83210,11779,3620,30,0,0.0,130032,129944,88.0,130032

In [20]:
#df_accpenvel.dropna(inplace=True)
df_accpenvel.drop_duplicates(keep='first', inplace=True)

#GUARDARRR
df_accpenvel.to_csv('tabla1.csv', index=False)

In [21]:
df2 = pd.read_csv('csv_api\Internet_BAF.csv')
print(df2.shape)
#Número total de accesos al servicio de Internet fijo por banda ancha y banda angosta (trimestral)

(35, 6)

In [22]:
df2['id'] = df2['Año'].astype(str) + df2['Trimestre'].astype(str)
df2.head()

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo     id
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022  20223
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022  20222
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022  20221
3  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021  20214
4  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021  20213

In [23]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['Banda ancha fija', 'Dial up', 'Total',]

# Convert the columns to string type before applying the replacement
df2[columns_to_remove_decimal] = df2[columns_to_remove_decimal].astype(str)

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df2[col] = pd.to_numeric(df2[col].str.replace('.', ''))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df2['Año'] = pd.to_numeric(df2['Año'], errors='coerce')
df2['Trimestre'] = pd.to_numeric(df2['Trimestre'], errors='coerce')

# Verify the modified DataFrame
print(df2.head())

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo     id
0  2022          3          11078691    12437  11091128  Jul-Sept 2022  20223
1  2022          2          10946248    12436  10958684   Abr-Jun 2022  20222
2  2022          1          10611390    12619  10624009   Ene-Mar 2022  20221
3  2021          4          10476933    12861  10489794   Oct-Dic 2021  20214
4  2021          3          10075184    10357  10085541  Jul-Sept 2021  20213

In [24]:
df3 = pd.read_csv('csv_api\Internet_Accesos-por-tecnologia.csv')
print(df3.shape)
#Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral)

(35, 9)

In [25]:
df3['id'] = df3['Año'].astype(str) + df3['Trimestre'].astype(str)
df3.head(3)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo,id
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022,20223
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022,20222
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022,20221

In [26]:
df3.dtypes

Año               int64
Trimestre         int64
ADSL             object
Cablemodem       object
Fibra óptica     object
Wireless        float64
Otros           float64
Total            object
Periodo          object
id               object
dtype: object

In [27]:
df3['Wireless'] = df3['Wireless']*10**3
df3['Otros'] = df3['Otros']*10**3

In [28]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['ADSL','Cablemodem','Fibra óptica','Total']

# Convert the columns to string type before applying the replacement
df3[columns_to_remove_decimal] = df3[columns_to_remove_decimal].astype(str)

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df3[col] = pd.to_numeric(df3[col].str.replace('.', ''))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df3['Año'] = pd.to_numeric(df3['Año'], errors='coerce')
df3['Trimestre'] = pd.to_numeric(df3['Trimestre'], errors='coerce')


# Verify the modified DataFrame
print(df3.head())

    Año  Trimestre     ADSL  Cablemodem  Fibra óptica  Wireless     Otros  \
0  2022          3  1395277     6031970       2871541  557110.0  235230.0
1  2022          2  1468333     5979214       2723285  556243.0  231609.0
2  2022          1  1533240     6073426       2219533  545814.0  251996.0
3  2021          4  1657615     5984240       2072236  523107.0  252596.0
4  2021          3  1950631     5826257       1566048  492415.0  250190.0

      Total        Periodo     id
0  11091128  Jul-Sept 2022  20223
1  10958684   Abr-Jun 2022  20222
2  10624009   Ene-Mar 2022  20221
3  10489794   Oct-Dic 2021  20214
4  10085541  Jul-Sept 2021  20213

In [29]:
df3.dtypes

Año               int64
Trimestre         int64
ADSL              int64
Cablemodem        int64
Fibra óptica      int64
Wireless        float64
Otros           float64
Total             int64
Periodo          object
id               object
dtype: object

In [30]:
df5 = pd.read_csv('csv_api\historico_velocidad_internet.csv')
#Serie histórica de la velocidad media de descarga de Internet nacional (trimestral)

In [31]:
df5['id'] = df5['Año'].astype(str) + df5['Trimestre'].astype(str)
df5.head()

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1     id
0  2022          3                  62,46  Jul-Sept 2022  20223
1  2022          2                  58,44   Abr-Jun 2022  20222
2  2022          1                  55,11   Ene-Mar 2022  20221
3  2021          4                  52,34   Oct-Dic 2021  20214
4  2021          3                  48,46  Jul-Sept 2021  20213

In [32]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['Mbps (Media de bajada)']

# Convert the columns to string type before applying the replacement
df5[columns_to_remove_decimal] = df5[columns_to_remove_decimal].astype(str)

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df5[col] = pd.to_numeric(df5[col].str.replace(',', '.'))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df5['Año'] = pd.to_numeric(df5['Año'], errors='coerce')
df5['Trimestre'] = pd.to_numeric(df5['Trimestre'], errors='coerce')

# Verify the modified DataFrame
print(df5.head())

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1     id
0  2022          3                   62.46  Jul-Sept 2022  20223
1  2022          2                   58.44   Abr-Jun 2022  20222
2  2022          1                   55.11   Ene-Mar 2022  20221
3  2021          4                   52.34   Oct-Dic 2021  20214
4  2021          3                   48.46  Jul-Sept 2021  20213

In [33]:
df6 = pd.read_csv('csv_api\Internet_Ingresos.csv')
#Ingresos trimestrales de los operadores por el servicio de Internet fijo
print(df6.shape)
df6.head(3)

(35, 4)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022

In [34]:
df6['id'] = df6['Año'].astype(str) + df6['Trimestre'].astype(str)
df6.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo     id
0  2022          3                67.055.930  Jul-Sept 2022  20223
1  2022          2                60.335.724   Abr-Jun 2022  20222
2  2022          1                55.589.997   Ene-Mar 2022  20221
3  2021          4                45.467.887   Oct-Dic 2021  20214
4  2021          3                42.999.944  Jul-Sept 2021  20213

In [35]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['Ingresos (miles de pesos)']

# Convert the columns to string type before applying the replacement
df6[columns_to_remove_decimal] = df6[columns_to_remove_decimal].astype(str)

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df6[col] = pd.to_numeric(df6[col].str.replace('.', ''))

# Convert 'Año' and 'Trimestre' columns to the appropriate data types
df6['Año'] = pd.to_numeric(df6['Año'], errors='coerce')
df6['Trimestre'] = pd.to_numeric(df6['Trimestre'], errors='coerce')

# Verify the modified DataFrame
print(df6.head())

    Año  Trimestre  Ingresos (miles de pesos)        Periodo     id
0  2022          3                   67055930  Jul-Sept 2022  20223
1  2022          2                   60335724   Abr-Jun 2022  20222
2  2022          1                   55589997   Ene-Mar 2022  20221
3  2021          4                   45467887   Oct-Dic 2021  20214
4  2021          3                   42999944  Jul-Sept 2021  20213

In [36]:
merged_ihviatBAf = df2.merge(df3, on='id', suffixes=('_df2', '_df3')) \
                      .merge(df5, on='id', suffixes=('_df2df3', '_df5')) \
                      .merge(df6, on='id', suffixes=('_df2df3df5', '_df6'))

In [37]:
merged_ihviatBAf.drop(columns=['Año_df3', 'Trimestre_df3', 'Periodo_df3',
       'Año_df2df3df5', 'Trimestre_df2df3df5','Trimestre.1', 'Año_df6', 'Trimestre_df6', 'Periodo'], inplace=True)

In [38]:
merged_ihviatBAf.columns

Index(['Año_df2', 'Trimestre_df2', 'Banda ancha fija', 'Dial up', 'Total_df2',
       'Periodo_df2', 'id', 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless',
       'Otros', 'Total_df3', 'Mbps (Media de bajada)',
       'Ingresos (miles de pesos)'],
      dtype='object')

In [39]:
merged_ihviatBAf = merged_ihviatBAf[['id','Año_df2', 'Trimestre_df2','Periodo_df2','Mbps (Media de bajada)','Ingresos (miles de pesos)',
                                     'Banda ancha fija', 'Dial up', 'Total_df2',
        'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless',
       'Otros', 'Total_df3', 
       ]]

In [40]:
print(merged_ihviatBAf.shape)
merged_ihviatBAf.rename(columns={'Año_df2':'Año','Trimestre_df2':'Trimestre', 'Periodo_df2':'Periodo', 'Total_df2':'Total_acceso_BABA', 'Total_df3':'Total_Acceso_Tipotecnologia'}, inplace=True)
merged_ihviatBAf.head(3)

(35, 15)

,id,Año,Trimestre,Periodo,Mbps (Media de bajada),Ingresos (miles de pesos),Banda ancha fija,Dial up,Total_acceso_BABA,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_Acceso_Tipotecnologia
0,20223,2022,3,Jul-Sept 2022,62.46,67055930,11078691,12437,11091128,1395277,6031970,2871541,557110.0,235230.0,11091128
1,20222,2022,2,Abr-Jun 2022,58.44,60335724,10946248,12436,10958684,1468333,5979214,2723285,556243.0,231609.0,10958684
2,20221,2022,1,Ene-Mar 2022,55.11,55589997,10611390,12619,10624009,1533240,6073426,2219533,545814.0,251996.0,10624009

In [41]:
merged_ihviatBAf.drop_duplicates(keep='first')

,id,Año,Trimestre,Periodo,Mbps (Media de bajada),Ingresos (miles de pesos),Banda ancha fija,Dial up,Total_acceso_BABA,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_Acceso_Tipotecnologia
0,20223,2022,3,Jul-Sept 2022,62.46,67055930,11078691,12437,11091128,1395277,6031970,2871541,557110.0,235230.0,11091128
1,20222,2022,2,Abr-Jun 2022,58.44,60335724,10946248,12436,10958684,1468333,5979214,2723285,556243.0,231609.0,10958684
2,20221,2022,1,Ene-Mar 2022,55.11,55589997,10611390,12619,10624009,1533240,6073426,2219533,545814.0,251996.0,10624009
3,20214,2021,4,Oct-Dic 2021,52.34,45467887,10476933,12861,10489794,1657615,5984240,2072236,523107.0,252596.0,10489794
4,20213,2021,3,Jul-Sept 2021,48.46,42999944,10075184,10357,10085541,1950631,5826257,1566048,492415.0,250190.0,10085541
5,20212,2021,2,Abr-Jun 2021,45.63,38239667,9852702,10382,9863084,2018587,5641731,1472246,476968.0,253552.0,9863084
6,20211,2021,1,Ene-Mar 2021,43.11,36676371,9637956,10016,9647972,2175211,5424782,1362976,434548.0,250455.0,9647972
7,20204,2020,4,Oct-Dic 2020,42.36,33539703,9561546,10016,9571562,2213949,5371824,1311199,421554.0,253036.0,9571562
8,20203,2020,3,Jul-Sept 2020,40.67,31997445,9346183,10016,9356199,2263889,5259351,1170879,413259.0,248821.0,9356199
9,20202,2020,2,Abr-Jun 2020,38.32,32102476,9021040,10016,9031056,2295533,5005115,1106725,376667.0,247016.0,9031056
10,20201,2020,1,Ene-Mar 2020,37.52,29946216,8802435,9991,8812426,2299457,4903674,1047817,352333.0,209145.0,8812426
11,20194,2019,4,Oct-Dic 2019,28.26,24169251,8783053,10128,8793181,2414575,4883869,941295,340144.0,213298.0,8793181
12,20193,2019,3,Jul-Sept 2019,24.18,21652748,9142891,21793,9164684,2909805,4800091,852221,338241.0,264326.0,9164684
13,20192,2019,2,Abr-Jun 2019,20.33,20743118,8938427,21754,8960181,2990457,4635575,760794,308027.0,265328.0,8960181
14,20191,2019,1,Ene-Mar 2019,17.38,20207414,8626323,21812,8648135,3132789,4435439,637099,276419.0,166389.0,8648135
15,20184,2018,4,Oct-Dic 2018,15.95,16637687,8451841,21814,8473655,3329027,4313831,388013,264299.0,178485.0,8473655
16,20183,2018,3,Jul-Sept 2018,15.36,15410981,8320223,26812,8347035,3521447,4238171,247366,246181.0,93870.0,8347035
17,20182,2018,2,Abr-Jun 2018,13.85,14319467,8083533,26911,8110444,3557216,4038141,226285,194267.0,94535.0,8110444
18,20181,2018,1,Ene-Mar 2018,13.22,13171459,8009981,27072,8037053,3574294,3981129,217460,165300.0,98870.0,8037053
19,20174,2017,4,Oct-Dic 2017,12.01,11226127,7842778,27444,7870222,3584311,3818157,211425,155775.0,100554.0,7870222
20,20173,2017,3,Jul-Sept 2017,8.34,10065998,7696594,28349,7724943,3622575,3670221,193964,106443.0,131740.0,7724943
21,20172,2017,2,Abr-Jun 2017,7.16,9678647,7401134,2853,7429664,3723518,3383434,180777,85813.0,56122.0,7429664
22,20171,2017,1,Ene-Mar 2017,6.62,8701201,7277314,2854,7305854,3708898,3276251,180146,84813.0,55746.0,7305854
23,20164,2016,4,Oct-Dic 2016,6.34,7483980,7223128,28545,7251673,3722794,3210602,178070,85119.0,55088.0,7251673
24,20163,2016,3,Jul-Sept 2016,5.94,6912442,7178340,2861,7206950,3776442,3124855,169898,81455.0,54300.0,7206950
25,20162,2016,2,Abr-Jun 2016,5.42,6534241,7097604,32475,7130079,3782085,3035272,167788,85452.0,59482.0,7130079
26,20161,2016,1,Ene-Mar 2016,5.08,5936845,6874704,32652,6907356,3792493,2806359,164371,85370.0,58763.0,6907356
27,20154,2015,4,Oct-Dic 2015,4.99,5376899,6952289,32542,6984831,3803024,2898226,139187,85726.0,58668.0,6984831
28,20153,2015,3,Jul-Sept 2015,4.79,5153739,6902267,32801,6935068,3788696,2840203,162663,84530.0,58976.0,6935068
29,20152,2015,2,Abr-Jun 2015,4.55,4701791,6783279,32909,6816188,3767821,2756294,150839,82077.0,59157.0,6816188
30,20151,2015,1,Ene-Mar 2015,4.35,4876385,6699714,38018,6737732,3756153,2668248,168188,79098.0,66045.0,6737732
31,20144,2014,4,Oct-Dic 2014,4.16,3950441,6559172,39324,6598496,3764038,2536219,149682,76984.0,71573.0,6598496
32,20143,2014,3,Jul-Sept 2014,3.87,3478638,6559264,36007,6595271,3714764,2569868,155494,85096.0,70049.0,6595271
33,20142,2014,2,Abr-Jun 2014,3.76,3270816,6428329,36139,6464468,3708882,2461670,149363,72405.0,72148.0,6464468
34,20141,2014,1,Ene-Mar 2014,3.62,2984054,6362108,3629,6398398,3697066,2407330,150323,70749.0,72930.0,6398398

In [42]:
merged_ihviatBAf.to_csv('tabla2.csv', index=False)

In [43]:
df7 = pd.read_csv('csv_api\Listadodelocalidadesconconectividadainternet_2750221689190715256.csv')
#Listado de localidades con conectividad a internet, con detalle por tipo de conexión.
print(df7.shape)
df7.head(3)

(4312, 12)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,--,--,--,--,SI,SI,--,--,--
1,BUENOS AIRES,Bahía Blanca,Villa Espora,--,--,--,--,--,--,--,--,--
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,--

In [44]:
df7.isna().value_counts()

Provincia  Partido  Localidad  ADSL   CABLEMODEM  DIALUP  FIBRAOPTICA  4G     3G     TELEFONIAFIJA  WIRELESS  SATELITAL
False      False    False      False  False       False   False        False  False  False          False     False        4312
Name: count, dtype: int64

In [45]:
df7 = df7.astype(str).replace('--', 'NO')

In [46]:
df7

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,NO,NO,NO,NO,SI,SI,NO,NO,NO
1,BUENOS AIRES,Bahía Blanca,Villa Espora,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,NO
3,BUENOS AIRES,Balcarce,Los Pinos,NO,NO,NO,NO,NO,NO,SI,SI,NO
4,BUENOS AIRES,Balcarce,Napaleofú,NO,NO,NO,SI,SI,SI,SI,SI,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,Quitilipi,Quitilipi,SI,NO,NO,SI,SI,SI,SI,SI,NO
4308,CHACO,Quitilipi,Villa El Palmar,NO,NO,NO,NO,SI,NO,NO,SI,NO
4309,CHACO,San Fernando,Barranqueras,SI,SI,NO,SI,SI,SI,SI,SI,NO
4310,CHACO,San Fernando,Basail,SI,SI,NO,NO,SI,SI,SI,SI,SI
4311,CHACO,San Fernando,Colonia Baranda,NO,NO,NO,NO,SI,SI,NO,NO,NO

In [47]:
df7.drop_duplicates(keep='first')

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,NO,NO,NO,NO,SI,SI,NO,NO,NO
1,BUENOS AIRES,Bahía Blanca,Villa Espora,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,NO
3,BUENOS AIRES,Balcarce,Los Pinos,NO,NO,NO,NO,NO,NO,SI,SI,NO
4,BUENOS AIRES,Balcarce,Napaleofú,NO,NO,NO,SI,SI,SI,SI,SI,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,Quitilipi,Quitilipi,SI,NO,NO,SI,SI,SI,SI,SI,NO
4308,CHACO,Quitilipi,Villa El Palmar,NO,NO,NO,NO,SI,NO,NO,SI,NO
4309,CHACO,San Fernando,Barranqueras,SI,SI,NO,SI,SI,SI,SI,SI,NO
4310,CHACO,San Fernando,Basail,SI,SI,NO,NO,SI,SI,SI,SI,SI
4311,CHACO,San Fernando,Colonia Baranda,NO,NO,NO,NO,SI,SI,NO,NO,NO

In [48]:
df7.to_csv('tabla3.csv', index=False)

In [49]:
df8 = pd.read_csv('csv_api\ConectividadalserviciodeInternet_2776151689190730026.csv')
#Consulta las tecnologías disponibles en tu localidad para acceder al servicio de Internet fijo y móvil
print(df8.shape)
df8.head(3)

(4312, 16)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"

In [50]:
df8.isna().value_counts()

Provincia  Partido  Localidad  Poblacion  ADSL   CABLEMODEM  DIALUP  FIBRAOPTICA  SATELITAL  WIRELESS  TELEFONIAFIJA  3G     4G     link   Latitud  Longitud
False      False    False      False      False  False       False   False        False      False     False          False  False  False  False    False       4300
                                                                                                                                    True   False    False         12
Name: count, dtype: int64

In [51]:
df8 = df8.astype(str).replace('--','NO')

In [52]:
# List of columns to remove decimal points
columns_to_remove_decimal = ['Latitud', 'Longitud']

# Loop through the columns and remove decimal points
for col in columns_to_remove_decimal:
    df8[col] = df8[col].str.replace(',', '.')
    df8[col] = pd.to_numeric(df8[col], errors='coerce')

# Verify the modified DataFrame
print(df8.head())

      Provincia       Partido      Localidad Poblacion ADSL CABLEMODEM DIALUP  \
0  BUENOS AIRES  Bahía Blanca  Villa Bordeau         0   NO         NO     NO
1  BUENOS AIRES  Bahía Blanca   Villa Espora         0   NO         NO     NO
2  BUENOS AIRES      Balcarce       Balcarce     38376   SI         SI     SI
3  BUENOS AIRES      Balcarce      Los Pinos       337   NO         NO     NO
4  BUENOS AIRES      Balcarce      Napaleofú       374   NO         NO     NO

  FIBRAOPTICA SATELITAL WIRELESS TELEFONIAFIJA  3G  4G       link    Latitud  \
0          NO        NO       NO            NO  SI  SI  6056020.0 -38.647261
1          NO        NO       NO            NO  NO  NO  6056020.0 -38.776507
2          SI        NO       SI            SI  SI  SI  6063010.0 -37.848278
3          NO        NO       SI            SI  NO  NO  6063020.0 -37.941206
4          SI        NO       SI            SI  SI  SI  6063030.0 -37.625498

    Longitud
0 -62.320022
1 -62.185183
2 -58.255167
3 -58.322592
4 -58.746186

In [53]:
df8.drop_duplicates(keep='first')

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,NO,NO,NO,NO,NO,NO,NO,SI,SI,6056020.0,-38.647261,-62.320022
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,6056020.0,-38.776507,-62.185183
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,NO,SI,SI,SI,SI,6063010.0,-37.848278,-58.255167
3,BUENOS AIRES,Balcarce,Los Pinos,337,NO,NO,NO,NO,NO,SI,SI,NO,NO,6063020.0,-37.941206,-58.322592
4,BUENOS AIRES,Balcarce,Napaleofú,374,NO,NO,NO,SI,NO,SI,SI,SI,SI,6063030.0,-37.625498,-58.746186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,Quitilipi,Quitilipi,24517,SI,NO,NO,SI,NO,SI,SI,SI,SI,22133010.0,-26.873207,-60.218524
4308,CHACO,Quitilipi,Villa El Palmar,879,NO,NO,NO,NO,NO,SI,NO,NO,SI,22133020.0,-26.455119,-60.164617
4309,CHACO,San Fernando,Barranqueras,54698,SI,SI,NO,SI,NO,SI,SI,SI,SI,22140010.0,-27.487774,-58.932742
4310,CHACO,San Fernando,Basail,1929,SI,SI,NO,NO,SI,SI,SI,SI,SI,22140020.0,-27.886866,-59.279100
4311,CHACO,San Fernando,Colonia Baranda,336,NO,NO,NO,NO,NO,NO,NO,SI,SI,22140030.0,-27.562045,-59.309691

In [54]:
df8.to_csv('tabla4.csv', index=False)

In [55]:
df9 = pd.read_csv('csv_api\AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171689207625058.csv')
#Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada
print(df9.shape)
df9.head(5)

(3098, 83)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df9.isna().value_counts()

Provincia  Partido  Localidad  Link Indec  Otros  0,256 mbps  0,375 mbps  0,5 mbps  0,512 mbps  0,625 mbps  0,75 mbps  1 mbps  1,25 mbps  1,5 mbps  2 mbps  2,2 mbps  2,5 mbps  3 mbps  3,3 mbps  3,5 mbps  4 mbps  4,5 mbps  5 mbps  6 mbps  6,4 mbps  7 mbps  7,5 mbps  8 mbps  9 mbps  10 mbps  11 mbps  12 mbps  13 mbps  14 mbps  15 mbps  16 mbps  17 mbps  18 mbps  19 mbps  20 mbps  21 mbps  22 mbps  23 mbps  24 mbps  25 mbps  25,1 mbps  25,11 mbps  25,5 mbps  26 mbps  30 mbps  31 mbps  32 mbps  34 mbps  35 mbps  36 mbps  38 mbps  39 mbps  40 mbps  41 mbps  45 mbps  46 mbps  49 mbps  50 mbps  55 mbps  58 mbps  59 mbps  60 mbps  61 mbps  62 mbps  64 mbps  65 mbps  66 mbps  70 mbps  75 mbps  78 mbps  80 mbps  82 mbps  83 mbps  85 mbps  90 mbps  92 mbps  95 mbps  100 mbps
False      False    False      False       False  True        True        True      True        True        True       True    True       True      True    True      True      True    True      True      True    True      True    True    True      True    True      True    True    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True        117
                                           True   True        True        True      True        True        True       True    True       True      True    True      True      True    True      True      True    True      True    True    True      True    True      True    True    False    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True         92
                                                                          False     True        True        True       True    True       True      True    True      True      True    True      True      True    True      True    True    True      True    True      True    True    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True         72
                                                                          True      True        True        True       True    True       True      True    True      True      False   True      True      True    True      True    True    True      True    True      True    True    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True         57
                                                                                                                                                                                True    True      True      True    True      True    False   True      True    True      True    True    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True         57
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
                                           False  True        True        True      True        True        True       True    True       True      True    True      True      False   True      True      True    True      False   False   True      True    True      True    True    False    True     True     True     True     False    True     True     True     True     False    True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     False         1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     False    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True          1
                                                                                                                                                                                                                                                        False   True      True    True    False    True     True     True     True     True     True     True     True     True     False    True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True          1
                                                                                                                                                                                                                                                                          False   True    False    True     True     True     True     True     True     True     True     True     False    True     True     True     True     True     True       True        True       True     False    True     True     True     True     True     True     True     True     True     True     True     True     False    True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     False         1
                                           True   True        True        False     True        True        True       True    True       True      True    True      True      False   True      True      False   True      False   True    True      True    True      True    True    False    True     False    True     True     True     True     True     True     True     True     True     True     True     True     True     True       True        True       True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True     True          1
Name: count, Length: 1606, dtype: int64

In [57]:
df9.columns

Index(['Provincia', 'Partido', 'Localidad', 'Link Indec', 'Otros',
       '0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps',
       '0,75 mbps', '1 mbps', '1,25 mbps', '1,5 mbps', '2 mbps', '2,2 mbps',
       '2,5 mbps', '3 mbps', '3,3 mbps', '3,5 mbps', '4 mbps', '4,5 mbps',
       '5 mbps', '6 mbps', '6,4 mbps', '7 mbps', '7,5 mbps', '8 mbps',
       '9 mbps', '10 mbps', '11 mbps', '12 mbps', '13 mbps', '14 mbps',
       '15 mbps', '16 mbps', '17 mbps', '18 mbps', '19 mbps', '20 mbps',
       '21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps',
       '25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps', '31 mbps', '32 mbps',
       '34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps',
       '41 mbps', '45 mbps', '46 mbps', '49 mbps', '50 mbps', '55 mbps',
       '58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps',
       '65 mbps', '66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps',
       '82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps',
       '100 mbps'],
      dtype='object')

In [58]:
columns = ['Otros',
       '0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps',
       '0,75 mbps', '1 mbps', '1,25 mbps', '1,5 mbps', '2 mbps', '2,2 mbps',
       '2,5 mbps', '3 mbps', '3,3 mbps', '3,5 mbps', '4 mbps', '4,5 mbps',
       '5 mbps', '6 mbps', '6,4 mbps', '7 mbps', '7,5 mbps', '8 mbps',
       '9 mbps', '10 mbps', '11 mbps', '12 mbps', '13 mbps', '14 mbps',
       '15 mbps', '16 mbps', '17 mbps', '18 mbps', '19 mbps', '20 mbps',
       '21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps',
       '25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps', '31 mbps', '32 mbps',
       '34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps',
       '41 mbps', '45 mbps', '46 mbps', '49 mbps', '50 mbps', '55 mbps',
       '58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps',
       '65 mbps', '66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps',
       '82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps',
       '100 mbps']

for col in columns:
    df9[col] = df9[col].fillna('0')
    df9[col] = pd.to_numeric(df9[col].astype(str).fillna('0').str.replace(',','.'), errors = 'coerce').astype(int)

In [59]:
df9.head(3)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,0,0,2,0,0,...,0,0,9,0,0,0,0,0,0,0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
df9.drop_duplicates(keep='first')

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,0,0,2,0,0,...,0,0,9,0,0,0,0,0,0,0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,304
3094,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3095,TUCUMAN,Trancas,Villa de Trancas,90112030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,TUCUMAN,Yerba Buena,Villa Carmela,90119020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3097,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6

In [61]:
df9.to_csv('tabla5.csv', index=False)

In [62]:
df9.dtypes

Provincia     object
Partido       object
Localidad     object
Link Indec    object
Otros          int32
               ...
85 mbps        int32
90 mbps        int32
92 mbps        int32
95 mbps        int32
100 mbps       int32
Length: 83, dtype: object

In [63]:
# We're gonna apply melt for a better view and handle

df9 = pd.melt(frame= df9,
        id_vars=['Provincia', 'Partido', 'Localidad', 'Link Indec'],
        var_name='Velocidad',
        value_name='Cantidad')

In [64]:
df9

,Provincia,Partido,Localidad,Link Indec,Velocidad,Cantidad
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,Otros,0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,Otros,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,Otros,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,Otros,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,Otros,0
...,...,...,...,...,...,...
244737,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,100 mbps,304
244738,TUCUMAN,Trancas,San Pedro de Colalao,90112020,100 mbps,0
244739,TUCUMAN,Trancas,Villa de Trancas,90112030,100 mbps,0
244740,TUCUMAN,Yerba Buena,Villa Carmela,90119020,100 mbps,0
244741,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,100 mbps,6

In [65]:
#df9.to_csv('AccesosaInternetfijoporvelocidaddebajadaylocalidad.csv', index=False)